@mixin svg_sprite() {
    font-size: {baseSize}px;
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("{svgPath}");
    background-repeat: no-repeat;
    background-size: ({relWidth}*10px) ({relHeight}*10px);
}

{#svg}
@mixin svg_sprite_{name} {
	@include svg_sprite();
    background-position: ({relPositionX}*10px) ({relPositionY}*10px);
    width: ({relWidth}*10px);
    height: ({relHeight}*10px);
}
{/svg}