@import "global";

.contact_us {

	}
	.contact_us__address_table {

		td {
			vertical-align: top;
			padding: 0 rhythm(0.5) rhythm(0.5) 0;
		}

	}

	.contact_us__ident_table {

		td {

			&:first-child {
				white-space: nowrap;
				padding-right: rhythm(1);
				border-right: 1px solid $border_grey;
			}

			&:last-child {
				padding-left: rhythm(1);
			}


		}

	}

	.contact_us__form {
		border: 1px solid $border_grey;
		overflow: auto;
		padding: rhythm(1);

			label {
				display: block;

				&.no-top-margin {
					margin-top: 0;
				}
			}

			%inputs {
				margin-top: 0;
				border: 1px solid $border_grey;
				background-image: linear-gradient( to bottom, lighten( $border_grey, 20% ) 0%, transparent 100% );
				//background-image: linear-gradient( to bottom, #fcfcfc 0%, transparent 100% );
				padding: 0 5px;
				font-size: 14px;
			}

			input {
				@extend %inputs;
				height: rhythm(1);
			}

			textarea {
				@extend %inputs;
				width: 100%;
				height: rhythm(4);
				resize: none;
				transition: height 200ms;
			}

			button[type=submit] {
				@extend %inputs;
				background-color: transparent;
				margin-top: rhythm(1);
				padding: rhythm(0.25) rhythm(0.5);
			}

	}

	.wpcf7-not-valid-tip {
		margin-top: 0;
	}

	.wpcf7-response-output {
		margin-left: 0 !important;
		margin-right: 0 !important;
		margin-bottom: 0 !important;
	}

	.contact_us__map {
		position: relative;
		display: block;

			img {
				display: block;
			}

			&:hover .contact_us__map__button {
				background: $main_gold;
			}

		}
		.contact_us__map__button {
			@include gold_button();
			position: absolute;
			bottom: 0;
			right: 0;
			background: rgba( $main_gold, 0.5 );
			transition: background-color 300ms;
		}