@import "global";

.home_row {
	display: flex;
	margin-bottom: rhythm(1);
	}
	.home_row__small {
		flex: 1;
	}
	.home_row__big {
		flex: 2;
	}
	.home_section:first-child {
		margin-right: rhythm(1);
	}

	$home_header_height: rhythm(1.5);
	.home_section {
		@include content_block();

		font-family: $main_font;
		color: $home_color;

		a {
			color: inherit;
			transition: color 300ms;

			&:hover {
				color: #000;
				text-decoration: none;
			}
		}

		&.has-header {
			margin-top: $home_header_height;
			position: relative;
		}

		}
		.home_section__header.home_section__header {
			position: absolute;
			left: 0;
			bottom: 100%;
			font-size: 16px;
			font-family: $light_font;
			color: #FFF;
			font-weight: normal;
			text-transform: uppercase;
			line-height: $home_header_height;
			display: block;
			height: $home_header_height;
			background: $main_gold;
			padding: 0 15px;
			margin: 0;
			margin-left: -1px;
		}
		.home_section__more_link.home_section__more_link {
			position: absolute;
			right: 0;
			top: - ( rhythm(1) + 5px );
			font-family: $light_font;
			text-transform: uppercase;
			text-decoration: none;
			color: $border_grey;

			&::after {
				content: '';
				display: inline-block;
				margin-left: 10px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 5px 0 5px 5px;
				border-color: transparent transparent transparent $border_grey;
				transition: border-color 300ms;
			}

			&:hover::after {
				border-color: transparent transparent transparent #000;;
			}
		}

$home_about_us_padding: 10px;
.home_about_us {
	padding: $home_about_us_padding $home_about_us_padding 0 $home_about_us_padding;
	}
	.home_about_us__logo {
		display: block;
		margin: 0 auto;
	}
	.home_about_us__button.home_about_us__button {
		display: block;
		border-top: 1px solid lighten( $border_grey, 10% );
		position: relative;
		left: -$home_about_us_padding;
		width: calc( 100% + #{$home_about_us_padding*2});
		padding: 10px 20px;
		text-decoration: none;

		&::before {
			@include gold_triangle();
			margin-right: 10px;
		}

		&:hover {
			text-decoration: underline;
		}
	}

.home_recent_videos{

	}
	.home_recent_videos__main_video {
		padding: 9px;
	}
	.home_recent_videos__video_strip {
		display: flex;
		align-items: stretch;
		}
		.home_recent_videos__video_strip__button {
			background: none;
			display: flex;
			flex-direction: column;
			align-items: center;
			border: none;
			margin: 0;
			padding: 10px;
			background: #efefef;
			flex: 1;
			border-top: 1px solid $border_grey;
			border-left: 1px solid transparent;
			border-right: 1px solid transparent;
			transition-property: border-color, background-color;
			transition-duration: 300ms;

			&.is-active {
				border-left-color: $border_grey;
				border-right-color: $border_grey;
				border-top-color: transparent;
				background: #FFF;

				&:hover {
					background: inherit;
				}
			}

			&:first-child {
				border-left: none;
			}

			&:last-child {
				border-right: none;
			}

			&:focus,
			&:active {
				outline: none;
			}

			&:hover {
				background-color: darken( $body_bg, 10% );
			}

			}
			.home_recent_videos__video_strip__button__image {
				width: 130px;
			}
			.home_recent_videos__video_strip__button__desc {
				$margin_top: 4px;
				width: 130px;
				display: flex;
				font-size: 13px;
				line-height: 17px;
				text-align: left;
				margin-top: $margin_top;
				padding-left: 3px;
				padding-right: 3px;

				//overflowing:
				max-height: calc( 2em + #{$margin_top} );

			}


.home_recent_articles__item {
	padding: 10px;
	border-bottom: 1px solid $border_grey;

		&:last-of-type {
			border-bottom: none;
		}

		&::after {
			content: '';
			display: table;
			clear: both;
		}
	}
	.home_recent_articles__item__image {
		display: block;
		float: left;
		margin-right: 10px;

		img {
			display: block;
		}

		&:hover + .home_recent_articles__item__meta .home_recent_articles__item__meta__heading {
			text-decoration: underline;
		}
	}
	.home_recent_articles__item__meta {
		overflow: auto;

			> * {
				margin-bottom: 0;
			}

		}
		.home_recent_articles__item__meta__heading {
			text-decoration: none;

			> * {
				font-weight: normal;
				font-family: $light_font;
				font-size: 28px;
				line-height: 1.2;
				margin: 0;

				&:hover {
					text-decoration: underline;
				}
			}
		}
		.home_recent_articles__item__meta__date {
			color: darken( $border_grey, 30% );
			font-family: $light_font;
		}

.home_sidebar {

	}
	.home_sidebar__text {
		padding: 0 rhythm(1);
	}