@import "global";

/*
Reset
*/
@import "inc/normalize";

html {
	@include rhythm-normalize();
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

/*
Layout
*/
body {
	background: $body_bg;
}

.page_wrap {
	width: $page_wrap_width;
	margin: 0 auto;
}

.main_header {
	margin-bottom: rhythm(1);
	position: relative;
	}
	.main_header__logo {
		position: absolute;
		display: block;
		left: 31px;
		top: 21px;
		z-index: 7000;
	}
	.main_header__image {
		display: block;
	}
	.main_header__nav {
		background: #FFF;
		border: 1px solid $border_grey;

		//box-shadow:0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;

			&::after {
				content: '';
				display: table;
				clear: both;
			}

		}

		.main_header__nav__menu,
		%menu_ul_common {
			list-style: none;
			padding: 0;
			margin: 0;
			display: block;
			float: left;
			font-size: 0;

				& > * {
					font-size: 1rem;
				}

			}
			.main_header__nav__menu__item,
			%menu_item_common {
				display: inline-block;

					> *,
					%menu_item_common_text {
						display: inline-block;
						font-family: $light_font;
						font-size: 20px;
						line-height: $menu_height;
						color: $menu_grey;
						text-decoration: none;
						transition-property: color, background-color, box-shadow;
						transition-duration: 300ms;
					}

					> * {
						padding: 0 25px;
					}

					&.is-active > *,
					&:hover > * {
						color: #000;
					}
			}
			.main_header__nav__menu__item {
				&:hover > * {
					color: #FFF;
					background: $main_gold;
					//box-shadow: inset 0 0 15px rgba( 0, 0, 0, 0.6 );
				}
			}

		.main_header__nav__language {
			@extend %menu_ul_common;
			float: right;

			}
			.main_header__nav__language__item {
				@extend %menu_item_common;

				> * {
					padding: 0 10px 0 0;
					font-family: $light_font;
					font-weight: bold;
					color: lighten( $menu_grey, 30% );
				}

				&:first-of-type {

					> * {
						padding-right: 10px;
					}

					&::after {
						@extend %menu_item_common_text;
						padding-right: 10px;
						content: '|';
						color: lighten( $menu_grey, 30% );
						position: relative;
						top: -2px;
					}
				}
			}

@import "typo";

.main_content,
%content_block {
	@include content_block();
}

.typo {
	@extend %typo;
}

.main_content {
	@extend %typo;
	padding: rhythm(1);
}


.content_block_row {
	display: flex;
	margin-bottom: rhythm(1);

		&.is-no-stretch {
			align-items: flex-start;
		}

		.no-flexbox & {
			clear: both;
			&::after {
				content: '';
				display: table;
				clear: both;
			}
		}
	}
	.content_block_row__small {
		flex: 1;

		.no-flexbox & {
			width: 33.3%;
			float: left;
		}
	}
	.content_block_row__big {
		flex: 2;

		.no-flexbox & {
			width: calc( 66% - #{rhythm(1)} );
			float: left;
		}
	}
	.content_block_section:first-child {
		margin-right: rhythm(1);
	}

	.content_block_section {
		@include content_block();

		font-family: $main_font;
		color: $home_color;

		a {
			color: inherit;

			&:hover {
				color: #000;
				text-decoration: none;
			}
		}

		&.has-header {
			margin-top: $content_block_header_height;
			position: relative;
		}

		}
		.content_block_section__header.content_block_section__header {
			@include gold_button();
			position: absolute;
			left: 0;
			bottom: 100%;
			display: block;
			margin-left: -1px;
		}
		.content_block_section__more_link.content_block_section__more_link {
			position: absolute;
			right: 0;
			top: - ( rhythm(1) + 5px );
			font-family: $light_font;
			text-transform: uppercase;
			text-decoration: none;
			color: $border_grey;

			&::after {
				content: '';
				display: inline-block;
				margin-left: 10px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 5px 0 5px 5px;
				border-color: transparent transparent transparent $border_grey;
			}

			&:hover::after {
				border-color: transparent transparent transparent #000;;
			}
		}



.main_footer {
	@extend %content_block;
	}
	.main_footer_nav {
		display: inline-block;
		}
		.main_footer_nav__menu {
			list-style: none;
			margin: 0;
			padding: 0;
			margin-left: 10px;
			}
			.main_footer_nav__menu__item {
				display: inline-block;
				margin: 0 5px;

				> * {
					line-height: $menu_height;
					font-family: $main_font;
					color: $menu_grey;
					text-decoration: none;
					font-size: 16px;

					&:hover {
						color: #000;
					}

					&::before {
						@include gold_triangle();
					}
				}
			}
	.main_footer__copyright {
		float: right;
		line-height: $menu_height;
		font-family: $main_font;
		color: $menu_grey;
		text-decoration: none;
		font-size: 14px;
		margin-right: 10px;

		a {
			text-decoration: none;
			color: inherit;
			font-weight: bold;

			&:hover {
				color: #000;
			}
		}
	}

.button_link.button_link {
	display: block;
	text-decoration: none;
	position: relative;

		&::before {
			@include gold_triangle();
		}

		&:hover {
			text-decoration: underline;
		}

		strong {
			font-weight: normal;
			text-decoration: underline;
		}
}

.columns {
	clear: both;

		&::after {
			content: '';
			display: table;
			clear: both;
		}

		&.has-top-margin {
			margin-top: rhythm(2);
		}

	}
	.columns__column {
		width: calc( 50% - #{rhythm(0.5)} );
		float: left;
		margin-top: 0;

			&:nth-child(2) {
				float: right;
			}

			$small_big_ratio: 0.6;

			&.is-big {
				width: calc( #{( 100% * $small_big_ratio )} - #{rhythm(0.5)} );
			}

			&.is-small {
				width: calc( #{( 100% * ( 1 - $small_big_ratio ) )} - #{rhythm(0.5)} );
			}

	}


.media_object.media_object {
	display: flex;
	align-items: center;
	text-decoration: none;

	}
	.media_object__image {
		margin-right: 10px;
	}
	.media_object__desc {
		margin-top: 0;

			br {
				margin-top: 0;
			}
	}