@import "global";

.stock_gallery {
	font-size: 0;

		& > * {
			font-size: 1rem;
		}

	}
	.stock_gallery__item {
		display: inline-block;
		width: 33.3%;
		text-decoration: none;
		margin: 0;
		margin-bottom: rhythm(1);

			img {
				display: inline-block;
			}

			&:nth-child( 3n ) {
				text-align: right;
			}

			&:nth-child( 3n - 1 ) {
				text-align: center;
			}


	}

@import "inc/fancybox";